<h1 class="text-center text-primary mt-3 mb-md-5 mb-sm-0">Welcome to the Social App</h1>

<div class="row mt-5 my-auto">
  <%= render partial: 'signup_login', locals: { title: 'Sign up', path: '/signup' } %>
  <%= render partial: 'signup_login', locals: { title: 'Log in', path: '/login' } %>
</div>

<div class="text-center my-sm-0 my-auto">
  <%= link_to image_tag("social-media.svg", alt: "Social app logo", width: "auto", class: "img-fluid"), "https://ferconde87.github.io/", target: "_blank" %>
</div>
