<% provide(:title, "About") %>
<div class="container card m-5 border-primary mx-auto">
  <h1 class="text-center lead mt-5">Welcome!</h1>
  <h1 class="text-center lead mt-2 mb-3">My name is Fernando and I'm refreshing my knowledge of Ruby On Rails while trying to do a cool app at the same time</h1>
  <h2 class="text-center lead mb-5"> You can find me github page <a href="https://github.com/ferconde87" target="_blank">here</a>.
  <div class="card m-5 text-center"> 
    <div class="card-header">
      This is the Social App's About page. This is a toy application.
    </div>
    <div class="card-body">
      It's made after following the book Ruby On Rails Tutorial 6th Edition.
    </div>
  </div>
</div>
