<% provide(:title, "About") %>
<div class="container card m-5 border-light mx-auto">
  <h1 class="text-center lead mt-5">Welcome!</h1>
  <h1 class="text-center lead mt-2 mb-3">My name is Fernando and I'm refreshing my knowledge of Ruby On Rails while trying to do a cool app at the same time.</h1>
  <h2 class="text-center lead mb-5"> You can find my github page <a href="https://github.com/ferconde87" target="_blank">here</a>.
</div>
