<div class="container">
  <h1 class="text-center text-primary m-5">Welcome to the Social App</h1>

  <h2 class="text-center">
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary px-5" %>
  </h2>

  <div class="text-center my-5">
    <%= link_to image_tag("social-media.svg", alt: "Social app logo", width: "600", class: "img-fluid"), "https://ferconde87.github.io/", target: "_blank" %>
  </div>




</div>
