<div class="container mt-5">

<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>

<% if logged_in? %>
  <%= render 'static_pages/home_user_logged' %>
<% else %>
  <%= render 'home_signup' %>
<% end %>

</div>


