<div class="container mt-5">
  <h1 class="text-center text-primary mt-3 mb-2">Welcome to the Social App</h1>

  <h2 class="text-center">
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary px-5" %>
  </h2>

  <div class="text-center mt-5">
    <%= link_to image_tag("social-media.svg", alt: "Social app logo", width: "auto", class: "img-fluid"), "https://ferconde87.github.io/", target: "_blank" %>
  </div>
</div>
