<% unless current_user?(@user) %>
  <div id="follow_form" class="text-center">
    <% if Relationship.following?(current_user, @user) %>
      <%= render 'unfollow' %>
    <% else %>
      <%= render 'follow' %>
    <% end %>
  </div>
<% end %>
