  <div class="text-center">
    <%= gravatar_for @user %>
  </div>
  <div class="text-center mb-2">
    <span class="lead">
      <%= @user.name %>
    </span>
    <small class="">(<%= pluralize(@user.posts.count, "post") %>)</small>
  </div>

  
  <%= render 'shared/stats' %>
