<li class="user-list list-group-item list-group-item-light my-2 border d-flex align-items-center">
  <%= gravatar_for user, size: 50 %>
  <%# <%= link_to user.name, user, class: "btn px-4 stretched-link text-primary" %>
  <%= link_to user.name, user, class: "btn px-4 text-primary" %>
  <% if current_user.admin? && !current_user?(user) %>
    <%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger px-4 position-absolute end-0 me-4' %>
  <% end %>
</li>
