<% provide(:title, "Edit user") %>
<% provide(:button_text, "Save changes") %>
<h1 class="text-center my-5 text-primary">Update your profile</h1>
<div class="my-auto">
  <div class="col-md-4 mx-auto text-primary">

    <%= render 'form' %>
    
    <div class="gravatar_edit text-center mt-3 my-2">
      <%= gravatar_for @user %>
    </div>
    <div class="text-center mb-5">
      <a href="https://gravatar.com/emails" target="_blank" rel="noopener" class="btn btn-sm btn-secondary">Change Photo</a>
    </div>
  </div>
</div>
