<% @user ||= current_user %>
<div class="text-center mb-3">
  <a href="<%= following_user_path(@user) %>" class="btn btn-sm btn-outline-secondary link-follow link-secondary  me-1">
    <strong id="following">
      <%= @user.following.count %>
    </strong>
    following
  </a>
  <a href="<%= followers_user_path(@user) %>" class="btn btn-sm btn-outline-secondary link-follow link-secondary">
    <strong id="followers">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
</div>
