$blue-medium-light: #b1c7e2;
$blue: #0d6efd;
$red-dark: rgb(128, 23, 23);
$red-medium: rgb(160, 0, 0);
$facebook-color: rgb(24,119,242);


.nav-item:hover {
  opacity: 0.6;
}
  
.bg-blue-medium-light {
  background-color: $blue-medium-light;
}

.text-blue-medium-light {
  color: $blue-medium-light;
}

.alert-dismissible:hover {
  opacity: 0.85;
  border: 1px solid;
}

.flash {
  top: 93px;
}

.bottom-0 {
  bottom: 0;
}

.user-list:hover {
  opacity: 0.6;
  border: 3px solid $blue !important;
}

.link-follow:hover {
  color: lightgrey;
}

.btn-delete {
  z-index: 1100;
  &:hover {
    border: 1px solid $red-dark;
    background-color: $red-medium;
    opacity: 1;
  }
}

.link-user {
  text-decoration: none;
}

.btn-facebook {
  background-color: $facebook-color;
}

