$blue-medium-light: #b1c7e2;

.nav-item:hover {
  opacity: 0.6;
}
  
.bg-blue-medium-light {
  background-color: $blue-medium-light;
}

.text-blue-medium-light {
  color: $blue-medium-light;
}

.alert-dismissible:hover {
  opacity: 0.85;
  border: 1px solid;
}

.flash {
  top: 93px;
}
