$blue-medium-light: #b1c7e2;
$blue: #0d6efd;


.nav-item:hover {
  opacity: 0.6;
}
  
.bg-blue-medium-light {
  background-color: $blue-medium-light;
}

.text-blue-medium-light {
  color: $blue-medium-light;
}

.alert-dismissible:hover {
  opacity: 0.85;
  border: 1px solid;
}

.flash {
  top: 93px;
}

.bottom-0 {
  bottom: 0;
}

.user-list:hover {
  opacity: 0.5;
  border: 4px solid $blue !important;
}
