<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body class="bg-light overflow-hidden">
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
